language: php
sudo: false
php:
  - '5.5'
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "wget http://selenium-release.storage.googleapis.com/2.48/selenium-server-standalone-2.48.2.jar"
  - "java -jar selenium-server-standalone-2.48.2.jar &"
  - sleep 5
  - "composer self-update"
  - "composer install"
  - "composer update"
  - "cd vendor/facebook/webdriver"
  - "composer install"
  - "cd ../../.."
script:
  - "bin/phpunit search.php"
